*{margin:0}
body{
	overflow-y:scroll;
	font-family:Calibri;
	text-align:center;
}
table{
	border-collapse:collapse;
}
th,td{
	border:1px solid #ccc;
	padding:0.2em;
}

th,.th{
	background:lightgreen;
	text-align:center;
}

td{
	text-align:left;
}

.inline{
	display:inline-block;
	vertical-align:top;
	margin-right:-5px;
}

div{
	background:#fafafa;
	margin:0 0 0.5em 0;
	padding:0.3em;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
}
div.container{ 
	display:inline-block;
}
