*{margin:0}

body{
	overflow-y:scroll;
	font-family:Georgia,"bitstream vera serif",Times,serif;
}

h3 {padding:0.25em}

div{
	margin:0 0 0.5em 0;
	padding:0.3em;
}
div.container{ 
	display:inline-block;
}

/* tables */
	table{
		border-collapse:collapse;
	}

	th,td{
		border:1px solid #ccc;
		padding:0.3em;
	}

	th,.th{
		background:#abc;
		color:white;
		text-align:center;
	}

	td{
		text-align:left;
	}
/**/

.inline{
	display:inline-block;
	vertical-align:top;
	margin-right:-5px;
}

