*{margin:0}

body{
	overflow-y:scroll;
	font-family: 'Open Sans',Arial,sans-serif;
}

.title {
	padding:0.8em;
	background:#bca;
	height:25px;
	font-size:20px;
}

.subtitle{
	color:#666;
}

h3 {padding:0.25em 0}

div.container{ 
	display:inline-block;
}

/* tables */
	table{
		border-collapse:collapse;
	}

	th,td{
		border:1px solid #ccc;
		padding:0.3em;
	}

	th,.th{
		background:#abc;
		color:white;
		text-align:center;
	}

	td{
		text-align:left;
	}
/**/

.inline{
	display:inline-block;
	vertical-align:top;
	margin-right:-5px;
}

